# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
.env

# Database
*.db
*.sqlite3

# Migration and Backup
/migrations/
/backups/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# Temp files
tmp/
temp/

# Frontend
node_modules/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Replit
.replit
.replit.nix